@model IEnumerable<DSS_Assignment_Islam.Models.Actor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActorAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActorSpacielity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Circus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActorAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActorSpacielity)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Circus.CircusName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ActorID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ActorID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ActorID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
